:root
{
    --bgcolor:#322653;
    --color:#EA1179;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #322653; ;
    color:white
}
header{
    margin: 0px;
    box-shadow: 0px 2px 2px #EA1179;
}
.home-page
{
    display: flex;
}
.header
{
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
    align-items: center;
   
}
.navbar ul
{
    list-style: none;
    display: flex;
    gap:30px;
    
    
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    transition: all 0.3s;
}
.navbar ul li a:hover
{
 color:var(--color);
}

.details
{
    margin-top: 5px;
   display: flex;
   flex-direction: column;
  
}

.info{
    font-family: "Oswald", sans-serif;
    font-weight: 100px;
    font-style:normal;
    font-size: 20px;
    padding:0px;
    color:white;
    letter-spacing: 1px;
    line-height: 25px;
    margin-left: 50px;

}
.information
{
    font-family:"Roboto",sans-serif;
}
.info h2 span{
    color: #EA1179;
    font-family: "Playpen Sans", cursive;
    font-weight: 700;
    font-style: normal;
    
}
.social
{
    display:flex;
    flex-direction:row;
    gap:20px;
  margin-left: 30px;
    margin-top: 70px;
   

    
}
.social a
{
    display: flex;
    align-items: center;
    height:35px;
    width:100px;
    gap:5px;
    color: #fdf8fb;
    text-decoration: none;
    background-color:#EA1179;
    border-radius:20px;
    padding:3px;

}
.social a i{
 
    color: #fdf8fb;
    font-size: 30px;
    padding-left: 3px;
}
.social a:hover
{
    color:#322653;
}
.left
{
    margin-left: 50px;
    margin-top: 8%;
    width:50%;
    height: 70%;
}
.right
{
    filter: drop-shadow(1px 1px 300px var(--color));
    display: flex;
    justify-content: center;
     margin-left:5%;
    padding-top: 5%;
}
.right img{
    padding-top: 20px;
}
.Education
{
 display: flex;
margin-top: 8%;
height: 35rem;
}
.skill h1
{
    font-family:  "Oswald", sans-serif;
    font-size: 40px;
    margin-left: 20%;
    color: #c9f3be;
    letter-spacing: 2px;
}
.skill-list
{
    font-family: "Roboto";
    
}
.skill-list ul
{
    list-style:square;
    line-height: 50px;
}
.skill-list ul span{
    color:#EA1179
    
}
.skill-edu
{
    width: 50%;
}
.skill-edu .skill-list
{
    margin-left: 50px;
}
.Education .edu h1{
 font-family:  "Oswald";
 text-align: center;
 font-weight: bold;
 font-size: 40px;
 color: #c9f3be;
 letter-spacing: 2px;
}
.Education .edu
{
    font-family: "Roboto";
    line-height: 30px;
}
.edu div{
    margin: 20px 0px 0px 20px;
    background-color: #96bbdf10;
    width:40rem;
   border-radius: 20px;
}
.edu div p{
    margin-left: 35px;
    padding: 10px;
}

.projects
{
    margin-top: 2rem;
    height: 43rem;
}
.projects h3{
    text-align: center;
    margin-top: 0px;
}
.projects h3 span
{
    font-family:"Oswald" ;
    color: #c9f3be;
    font-size: 40px;
    padding:2px;
    letter-spacing: 2px;
}
.pro
{
  display: flex;
  flex-direction:row;
  justify-content:space-around;
  margin-top:50px;
  height: 500px;
}
.pro div
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.projects .pro .guidance{
    background-color: rgba(166, 217, 244, 0.059);
    border-radius: 20px;
    box-shadow:0px 0px 20px var(--color);
}
.projects .pro .student{
    background-color: rgba(166, 217, 244, 0.059);
    border-radius: 20px;
    box-shadow:0px 0px 20px var(--color);
}
.projects .pro .portfolio{
    background-color: rgba(166, 217, 244, 0.059);
    border-radius: 20px;
    box-shadow:0px 0px 20px var(--color);
}
.pro .guidance .img
{
    background-image:url(../images/guidancehub.jpg);
    background-size:100% 100% ;
    background-repeat:no-repeat;
    height: 220px;
    width: 350px;
    border-bottom: none;
}
.pro .student .img
{
    background-image:url(../images/student.png);
    background-size:100% 100% ;
    background-repeat:no-repeat;
    height: 220px;
    width: 350px;
    border-bottom:0px;
}
.pro .portfolio .img
{
    background-image:url(../images/portfolio.png);
    background-size:100% 100% ;
    background-repeat:no-repeat;
    height: 220px;
    width: 350px;
    border-bottom: none;
}
.img-content 
{
    display: flex;
    flex-direction:column;
    justify-content: center;
 ;
}
.img-content h2 span
{
    bottom: 1px solid black;
    font-family:"Oswald", sans-serif;
    margin-left:100px;
    text-decoration:underline;
}
.img-content .features
{
    font-family:"Roboto", sans-serif;
}

